.logo.vite:hover {
  filter: drop-shadow(0 0 2em #747bff);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafb);
}
.title {
  position: relative;
  margin-bottom: -0.1em;
  white-space: nowrap;
}
.logo {
  width: 3em;
  margin-bottom: -1.5em;
}

.logoLeft {
  transform: rotate(-10deg);
}
.logoRight {
  transform: rotate(10deg);
}

.emoji {
  font-size: 3em;
  margin-top: 0.25em;
  margin-left: 0.25em;
  margin-right: 0.25em;
}

.dropEmoji {
  height: 0;
  overflow: visible;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
}

.columnContainer {
  display: flex;
  flex-direction: row;
}

.leftColumn {
  flex: 2;
}

.rightColumn {
  border-right: 1px black solid;
  flex: 1;
  max-width: 24em;
  min-width: 12em;
}

.row {
  display: flex;
  justify-content: center;
}

.buttspace {
  margin-bottom: 0.5em;
}

.dropzoneContainer {
  margin-top: 1em;
}
.clearButtonContainer {
  width: 100%;
  text-align: center;
}

.interactable {
  transition-property: all;
  transition-duration: 0.1s;
}

.interactable:hover {
  background-color: rgba(255,255,255,0.25);
}

.dropzoneActive {
  background-color: rgba(255,255,255,0.25) !important;
  outline-offset: 0.5em;
}

.dropzone {
  width: 50vw;
  padding-top: 5em;
  padding-bottom: 5em;
  outline: 0.25em white dashed;
  border-radius: 0.5em;
  position: relative;
}

.fileInput {
  position: absolute;
  background-color: transparent;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

input[type='file'] {
  opacity: 0;
}

::file-selector-button {
  display: none;
}

.songItem {
  padding: 10px;
  border-bottom: 1px black solid;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  text-align: center;
}

input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
}

button:hover {
  border-color: #396cd8;
}
button:active {
  border-color: #396cd8;
  background-color: #e8e8e8;
}

.fineprint {
  size: 0.5em;
  color: gray;
}

.logline {
  width: 100%;
  text-align: left;
}

input,
button {
  outline: none;
}

#greet-input {
  margin-right: 5px;
}

:root {
  color: #f6f6f6;
  background-color: #2f2f2f;
}

a:hover {
  color: #24c8db;
}

input,
button,
.item {
  color: #ffffff;
  background-color: #0f0f0f98;
}
button:active {
  background-color: #0f0f0f69;
}

